
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">Next Escape</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Search options</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/input_favorite_room">Enter your favorite escape room</a>
              <a class="dropdown-item" href="/input_ideal_room">Enter your ideal escape room</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="container">
      <div class="starter-template">
        <form method="POST" role="form" action="{{ url_for('ideal_recommendation') }}">
            <div class="form-group">
              <br/>
              <br/>
              <br/>
              <label for="location" style="font-size:20px;">Enter a location where you want to search for nearby escape rooms.</label>
              <input type="text" class="form-control" id="location" name="location" width="50" placeholder="Denver, CO, USA">
            </div>
            <div class="form-group">
              <label for="miles_limit" style="font-size:20px;">Enter the distance (in miles) you'd be willing to travel from the location you entered above.</label>
              <input type="text" class="form-control" id="miles_limit" name="miles_limit" width="5" placeholder="25">
            </div>
            <div class="form-group">
              <label for="group_size" style="font-size:20px;">How many people are in your group?</label>
              <input type="text" class="form-control" id="group_size" name="group_size" size="5" placeholder="5">
            </div>
            <div class="form-group">
              <label for="youngest_person" style="font-size:20px;">How old is the youngest person in your group?</label>
              <input type="text" class="form-control" id="youngest_person" name="youngest_person" size="5" placeholder="14">
            </div>
            <br/>
          <label for="escape_room" style="font-size:20px;"><b>Enter features of your ideal escape room.</b></label>
          <br/>
          <div class="form-group">
            <label for="difficulty_level" style="font-size:20px;">Difficulty Level</label>
            <select class="form-control" id="difficulty_level", name="difficulty_level">
              <option>Very easy</option>
              <option>Easy</option>
              <option selected>Average</option>
              <option>Difficult</option>
              <option>Very difficult</option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <label for="fear_level" style="font-size:20px;">Fear Level</label>
            <select class="form-control" id="fear_level", name="fear_level">
              <option selected>Not scary</option>
              <option>A little scary</option>
              <option>Scary</option>
              <option>Very scary</option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <label for="time_limit_str" style="font-size:20px;">Time Limit</label>
            <select class="form-control" id="time_limit_str", name="time_limit_str">
              <option>30 minutes</option>
              <option>45 minutes</option>
              <option selected>60 minutes</option>
              <option>75 minutes</option>
              <option>90 minutes</option>
              <option>105 minutes</option>
              <option>120 minutes</option>
            </select>
          </div>
          <br/>
          <button type="submit" class="btn btn-outline-secondary" name="submit" value="submit">Submit: Find new escape rooms</button>
          </form>
      </div>
      <br/>
    </main>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


  </body>
</html>